* {
	margin: 0;
	padding: 0;
  }
  
  body {
	background-image: url("../image/background1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
  }
  
  a {
	text-decoration: none;
	color: #ffffff;
  }
  
  .container {
	width: 100%;
	max-width: 1025px;
	margin: 0 auto;
  }
  
  .header {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	margin-top: 51px;
  }
  
  .block-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  
  .logo {
	width: 53px;
	height: 47px;
	position: relative;
	cursor: pointer;
  }
  
  .img-hidden {
	position: absolute;
	left: 0;
	visibility: hidden;
  }
  
  .logo:hover .img-hidden {
	color: #f26522;
	visibility: visible;
  }
  
  .logo:hover .logo-title {
	color: #f26522;
  }
  
  .logo-title {
	display: flex;
	color: #ffffff;
	width: 140px;
	flex-wrap: wrap;
	font-weight: 700;
	font-size: 29px;
	line-height: 29px;
	position: absolute;
	left: 60px;
	top: 4px;
  }
  
  .logo-text {
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
  }
  
  .info {
	margin-bottom: 20px;
  }
  
  .block2 {
	display: block;
	color: #ffffff;
	width: 100%;
	height: 45%;
	max-width: 972px;
	flex-wrap: wrap;
	margin: 5px;
  }
  
  .block3 {
	display: block;
	color: #ffffff;
	width: 100%;
	max-width: 972px;
	height: 45%;
	flex-wrap: wrap;
	padding: 5px;
  }
  
  .block2:hover a {
	color: #f26522;
  }
  
  .block3:hover a {
	color: #f26522;
  }
  
  button {
	background: transparent;
	border: none;
  }
  
  .child1 {
	color: #ffffff;
	width: 100%;
	font-size: 10px;
	line-height: 10px;
	padding-left: 16px;
  }
  
  .child2 {
	color: #ffffff;
	width: 50%;
	font-size: 20px;
	line-height: 20px;
	padding-top: 10px;
  }
  
  .child3 {
	color: #ffffff;
	width: 35%;
	font-size: 14px;
	line-height: 14px;
	padding-top: 11px;
  }
  
  .child3::after {
	content: "  >";
  }
  
  .page-banners {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 75px 50px;
	margin-bottom: 100px;
  }
  
  .page-banner-item.shopping  {
	background-image: url(../image/image1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	width: 304px;
	height: 224px;
  }
  .page-banner-item.shopping:after {
	  content: '';
	  position: absolute;
	top: 0;
	background: linear-gradient(61deg, #ffffff, #cbcbcb, #4f4e4e, #ffffff, #aba1a1, #ffffff, #716464, #3f3838);
	  background-size: 100% 100%;
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	width: 304px;
	height: 224px;
  }
  
  .page-banner-item.sightseeing {
	background-image: url(../image/image2.png);
	color: #ffffff;
	width: 302px;
	height: 222px;
  }
  .page-banner-item.sightseeing:after {
	  content: '';
	  position: absolute;
	top: 126px;
	background: linear-gradient(70deg, #ffffff, #cbcbcb, #949494, #686868, #464646, #707070, #989898, #fffdfd00);
	  background-size: 100% 100%;
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	width: 305px;
	height: 225px;
  }
  .page-banner-item.food {
	background-image: url(../image/image3.png);
	color: #ffffff;
	width: 300px;
	height: 220px;
  }
  .page-banner-item.food:after {
	  content: '';
	  position: absolute;
	top: 126px;
	background: linear-gradient(70deg, #ffffff, #cbcbcb, #949494, #686868, #464646, #707070, #989898, #fffdfd00);
	  background-size: 100% 100%;
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	width: 304px;
	height: 224px;
  }
  .page-banner-item.bars {
	background-image: url(../image/image4.png);
	color: #ffffff;
	width: 300px;
	height: 220px;
  }
  .page-banner-item.bars:after {
	  content: '';
	  position: absolute;
	top: 426px;
	background: linear-gradient(165deg, #ffffff, #cbcbcb, #949494, #686868, #464646, #707070, #989898, #fffdfd00);
	  background-size: 100% 100%;
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	width: 304px;
	height: 224px;
  }
  .page-banner-item.architecture {
	background-image: url(../image/image5.png);
	color: #ffffff;
	width: 300px;
	height: 220px;
  }
  .page-banner-item.architecture:after {
	  content: '';
	  position: absolute;
	top: 426px;
	background: linear-gradient(70deg, #ffffff, #cbcbcb, #949494, #686868, #464646, #707070, #989898, #fffdfd00);
	  background-size: 100% 100%;
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	width: 304px;
	height: 224px;
  }
  .page-banner-item.walking {
	background-image: url(../image/image6.png);
	color: #ffffff;
	width: 300px;
	height: 220px;
  }
  .page-banner-item.walking:after {
	  content: '';
	  position: absolute;
	top: 426px;
	background: linear-gradient(70deg, #ffffff, #cbcbcb, #949494, #686868, #464646, #707070, #989898, #fffdfd00);
	  background-size: 100% 100%;
	  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	width: 304px;
	height: 224px;
  }
  .page-banner-item-subtitle {
	color: #ffffff;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	position: relative;
	top: 185px;
  }
  
  .page-item-small-banner {
	display: flex;
	height: 57px;
	width: 302px;
	background-color: #f26522;
	flex-wrap: wrap; 
	justify-content: space-evenly;
	align-items: center;
	visibility: hidden;
	position: relative;
	top: 165px;
  }
  
  .page-banner-item:hover .page-item-small-banner {
	visibility: visible;
	color: #f26522;
  }
  
  .page-banner-item:hover .page-banner-item-subtitle {
	color: #f26522;
  }
  
  .footer {
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 15px;
  }